{
  "action" : "actions",
  "list" : [
  
	// ================ THERMAL BULLET DESINTEGRATION
 
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/n7a_thermalbulletexplosion/n7a_thermalbulletexplosion.animation",
                "approach" : [0.1, 0.1],
                "timeToLive" : 2.4,
				"fullbright" : true,
                "variance" : {
                  "position" : [0.0, 0.0],
                  "initialVelocity" : [0, 0],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "light",
      "color" : "yellow"
    },
	
	// ================ BULLET IMPACT
	
    {
      "action" : "spark"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/impact_bullet.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    },
	
	// ================ EMBER
	
	{
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 1,
            "color" : [253, 143, 77, 255],
            "light" : [100, 20, 2],
            "fullbright" : true,
            "destructionTime" : 0.3,
            "destructionAction" : "fade",
            "fade" : 0.1,
            "initialVelocity" : [0, 5],
            "finalVelocity" : [0.0, -50.0],
            "approach" : [0, 30],
            "timeToLive" : 0.2,
            "layer" : "middle",
            "variance" : {
              "position" : [1.0, 1.0],
              "size" : 0.5,
              "initialVelocity" : [15, 15],
              "timeToLive" : 0.2
            }
          }
        }
      ]
    }
  ]
}
